<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_AV2whVcPVvqtV5GAUxHaqAD030lkgg0</string>
	<key>GCM_SENDER_ID</key>
	<string>776403421779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sangeet</string>
	<key>PROJECT_ID</key>
	<string>sangeet-98b74</string>
	<key>STORAGE_BUCKET</key>
	<string>sangeet-98b74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776403421779:ios:31dba83c40d5825df494a6</string>
</dict>
</plist>